* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #c9dabf;
  color: #d9d9d9;
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* counter section */
.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #5f6f65;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
  border-radius: 10%;
}

.counter > h1 {
  padding: 40px;
  font-size: 40px;
}

/* counter plus and minus */
.counter-controls {
  display: flex;
  align-items: flex-end;
}

.counter-controls > button {
  height: 60px;
  width: 60px;
  border-radius: 30%;
  border: none;
  cursor: pointer;
  background-color: #e7e8d8;
  color: #2b2a2a;
  font-size: 2rem;
  font-weight: bold;
}

.counter-controls > button:hover {
  background-color: #404040;
  color: #d9d9d9;
}

.counter-controls > button:focus {
  outline: none;
}

.counter--count {
  background-color: white;
  height: 150px;
  width: 150px;
  border-radius: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #262626;
}

.counter--plus {
  margin-left: 20px;
  margin-bottom: 40px;
}

.counter--minus {
  margin-right: 20px;
  margin-bottom: 40px;
}

/* counter reset */
.counter--reset {
  margin-top: 50px;
  height: 50px;
  width: 125px;
  border: none;
  cursor: pointer;
  background-color: #e7e8d8;
  color: #3a3a39;
  font-size: 1.3rem;
  border-radius: 20px;
}

.counter--reset:hover {
  background-color: #404040;
  color: #d9d9d9;
}

/* step control */
.step-control {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.step-control label {
  margin-right: 10px;
  font-size: 20px;
}

.step-control input {
  width: 50px;
  padding: 5px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #737373;
  background-color: #d9d9d9;
  color: #262626;
  font-size: 16px;
}
